<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RiverSide Hospitals</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="icon" href="/assets/icons/medical-symbol.png">
  <link rel="stylesheet" href="/styles/style.css">
  <style>
    body{
        background-color: #007c9d;
        color: white;
    }
  </style>
</head>

<body>

<h1 class="text-center m-5">Data entry successfull</h1>
<div class="text-center">

    <form action="/getdata" method="GET">
        <br>
        <button class="view-data btn" type="submit"> View Patient Data</button>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>
</html>